{% extends "customer/base.html" %}
{% block content %}
<div class="container">
    <div class="card card-body">
        <form method="POST" action="{% url 'compute_calories' %}">
            {{ form.management_form }}
            {% csrf_token %}

            {% for field in form %}

            <div class="row form-group">
                {{field.as_p}}
            </div>
            <hr>

            {% endfor %}

            <button type="submit" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">Submit
            </button>
        </form>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
$('#exampleModal').on('shown.bs.modal', function () {
  $('#exampleModal').trigger('focus')
})


</script>
{% endblock%}