{% extends "customer/base.html" %}
{% block content %}
<div class="container">
    <div class="card card-body">
        <form method="POST" action="{% url 'compute_calories' %}">
            {{ form.management_form }}
            {% csrf_token %}

            {% for field in form %}

            <div class=" row form-group">
                {{field.as_p}}
            </div>
            <hr>

            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}