{% extends "customer/base.html" %}
{% block content %}
<div  class="text-center">
    <form class="form-signin"method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        {% for field in form %}
        <div class="form-group">
            <label class="sr-only" >{{ field.label}}</label>
            <div class="form-control">{{field}}</div>
        </div>
        {% endfor %}

        {% if messages %}
        <div class="span12">
            <li>
                {% for message in messages %}

                <ul class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </ul>

                {% endfor %}
            </li>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-sm btn-primary ">Login</button>
    </form>
    <hr>
    <p>Create an Account?  <a href="{% url 'signup' %}">Signup</a></p>



</div>


{% endblock %}