{% extends "customer/base.html" %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'signup' %}"  >
        {% csrf_token %}

        {% for field in form %}

        <div class="form-group">
            <label for="exampleInputEmail1">{{ field.label}}</label>
            <div class="form-control"  > {{field}}</div>
        </div>

        {% endfor %}
        {{form.errors}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}