{% extends "customer/base.html" %}

{% load sorting_tags %}
{% block content %}
<div class="container">
    <div class="card card-body">
        <h4 class="text-center alert alert-danger">HISTORY</h4>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">{% anchor calories _("Calories") %}</th>
                <th scope="col">{% anchor create_date _("Date") %}</th>
            </tr>
            </thead>

            <tbody>
            {% autosort table %}
            {% for table in table %}
            <tr>
                <td scope="row">{{table.calories}}</td>
                <td scope="row">{{table.create_date}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if table.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{table.previous_page_number}}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{table.number}}">{{table.number}}</a></li>
                {% if table.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{table.next_page_number}}">Next</a></li>
                {% endif %}
                <li>
                <p>Showing {{ table.start_index }}-{{ table.end_index }} of {{ table.paginator.count }}</p></li>
            </ul>

        </nav>
        <button type="button"  class="btn btn-info">
            <a class="nav-link" href="{% url 'compute_calories' %}">Compute Today's Calories</a>
        </button>
    </div>

</div>
{% endblock %}